<p>Editing:</p>
<blockquote><p><%=h @texts.sit %></p></blockquote>

<form action="/edit/<%= @texts.id %>" method="post">
 <div class="form-group">
  <input type="hidden" name="_method" value="put">
  <label for="texts_sit">Situation:</label>
  <br>
  <textarea id="texts_sit" class="form-control" name="text[sit]" rows="3"><%=h @texts.sit %></textarea>
 </div>
 <div class="form-group">
  <label for="texts_pro">Problem:</label>
  <br>
  <textarea id="texts_pro" class="form-control" name="texts[pro]" rows="3"><%=h @texts.pro %></textarea>
 </div>
 <div class="form-group">
  <label for="texts_sol">Solution:</label>
  <br>
  <textarea id="texts_sol" class="form-control" name="texts[sol]" rows="3"><%=h @texts.sol %></textarea>
 </div>
 <div class="form-group">
  <label for="texts_imp">Implications:</label>
  <br>
  <textarea id="texts_imp" class="form-control" name="texts[imp]" rows="3"><%=h @texts.imp %></textarea>
 </div>
 <div class="form-group">
  <label for="texts_eva">Evaluation:</label>
  <br>
  <textarea id="texts_eva" class="form-control" name="texts[eva]" rows="3"><%=h @texts.eva %></textarea>
 </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
<br>

<form action="/cancel" method="post">
	<button type="submit" class="btn btn-danger" name="texts" value="nope">Cancel</button>
</form>