
      <h1>Put these statements in order.
      <br>Remember the <b>"Situation => Problem => Solution => Implications => Evaluation"</b> format.<br>
      (hint: the statements will turn colours when they are in the correct position)</h1>

      <ul class="target" id="sortable">
       <li class="ui-state-default" id="sit"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%=h @texts.sit%></li>
       <li class="ui-state-default" id="pro"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%=h @texts.pro%></li>
       <li class="ui-state-default" id="sol"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%=h @texts.sol%></li>
       <li class="ui-state-default" id="imp"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%=h @texts.imp%></li>
       <li class="ui-state-default" id="eva"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%=h @texts.eva%></li>
      </ul>
