<h1>This is the new text</h1>

<p>Situation: <%=h @texts.sit%></p>
<br>
<p>Problem: <%=h @texts.pro%></p>
<br>
<p>Solution: <%=h @texts.sol%></p>
<br>
<p>Implications: <%=h @texts.imp%></p>
<br>
<p>Evaluation: <%=h @texts.eva%></p>

<a href="/" value="Go back to the main page">Click this to return to the main page</a>